::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #f8f9fa;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #6c757d;
}

body {
	font-family: 'Roboto', sans-serif;
	position: relative;
}

h1, h2, h3, h4 {
	color: #212121;
}

h5, h6, p {
	color: #757575;
}

h2{
	font-size: 2.5rem;
}

a.card, a.card:hover, a.card:active{
    color: inherit;
    text-decoration: none;
}

.header-text h1{
	font-size: 4rem;
}

#typedtext {
	font-size: 1rem;
	font-weight: 400;
	font-style: normal;
	font-family: 'Fira Mono', monospace;
}

.dark-text{
	color: #212121;
}
.pink-text {
	color: #ff3d6c;
	font-weight: 700;
}
.navbar {
	padding: 1vh 10%;
	/* position: fixed; */
	width: 100%;
	z-index: 1;
}

.navbar-brand {
	width: 5rem;
	cursor: pointer;
	transition: fill 0.2s ease-in-out;
}

.navbar-brand:hover {
	fill: #ff3d6c;
}

.navbar-nav {
	float: right;
	margin-left: auto;
}

.nav-item {
	margin: 0 1rem;
	font-size: 1rem;
}

.navbar .nav-item .nav-link:hover {
	color: #ff3d6c;
}

#header-section {
	padding: 20vh 10%;
}

.header-text {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-text .container-fluid {
	text-align: left;
}

.header-img {
	text-align: right;
}

.header-img > img {
	width: 80%;
}

#projects-section {
	padding: 10vh 10%;
	text-align: center;
}

/* .cards{
    text-align: center;
} */

.card {
	padding: 1rem;
	margin: 1.5rem;
	border-radius: 1rem;
    cursor: pointer;
    box-shadow: 2px 2px 10px #c7c7c760;
}

.card-title {
	text-align: center;
}

.card-text {
	text-align: justify;
}

.badge {
	background-color: #ff3d6c;
	font-family: monospace;
	font-weight: 400;
	margin: 3px 2px;
	padding: 6px;
	font-size: 1rem;
}

#community-section{
	padding: 10vh 10%;
	text-align: center;
}

.btn-outline-danger{
	border-color: #ff3d6c;
	color: #ff3d6c;
}

.btn-outline-danger:hover, .btn-outline-danger:active{
	background-color: #ff3d6c;
}