::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #f8f9fa;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #6c757d;
}

body {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	position: relative;
}

strong{
	font-weight: 600;
}

h1,
h2,
h3,
h4 {
	color: #212121;
}

h5,
h6,
p {
	color: #757575;
}

h2 {
	font-size: 2.5rem;
}

.header-text h1 {
	font-size: 4rem;
}

#typedtext {
	font-size: 1rem;
	font-weight: 400;
	font-style: normal;
	font-family: 'Roboto Mono', monospace;
}

.dark-text {
	color: #212121;
}
.pink-text {
	color: #1dd3bd;
	font-weight: 700;
}
.navbar {
	padding: 1vh 10%;
	/* position: fixed; */
	width: 100%;
	z-index: 1;
}

.navbar-brand {
	width: 5rem;
	cursor: pointer;
	transition: fill 0.2s ease-in-out;
}

.navbar-brand:hover {
	fill: #1dd3bd;
}

.navbar-nav {
	float: right;
	margin-left: auto;
}

.nav-item {
	margin: 0 1rem;
	font-size: 1rem;
}

.navbar .nav-item .nav-link:hover {
	color: #1dd3bd;
}

#header-section {
	padding: 20vh 10%;
}

.header-text {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-text .container-fluid {
	text-align: left;
}

.header-img {
	text-align: right;
}

.header-img > img {
	width: 80%;
}

#projects-section {
	padding: 10vh 10%;
	text-align: center;
}

.card {
	margin: 1.5rem;
	border-radius: 1rem;
	box-shadow: 2px 2px 10px #c7c7c760;
}

.card-img-top {
	border-radius: 1rem;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.card-body {
	padding: 0;
	padding-bottom: 1.25rem;
}

.card-title {
	text-align: center;
	margin: 1.25rem;
}

.card-text {
	text-align: justify;
	margin: 1rem 2rem;
}

.badge {
	background-color: #1dd3bd;
	font-family: monospace;
	font-weight: 400;
	margin: 3px 2px;
	padding: 6px;
	font-size: 1rem;
}

.card-tags {
	margin: 1.25rem;
}

#community-section {
	padding: 10vh 10%;
	text-align: center;
}

.btn-outline-danger {
	border-color: #1dd3bd;
	color: #1dd3bd;
	margin: 5px;
	outline-color: #1dd3bd;
}

.btn-outline-danger:hover,
.btn-outline-danger:active {
	background-color: #1dd3bd;
	border-color: #1dd3bd;
}

#education-section{
	padding: 10vh 10%;
	text-align: center;
}

.progress{
	width: 90%;
	float: left;
}

.progress-text{
	float: right;
}

#footer {
	text-align: center;
}

